.container{
    display: grid;
    grid-template-areas:
        "nav content";
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: side;
    margin-right: 0.5rem;
}

footer {
    grid-area: footer;
}