.lateral-rosa{
	background-color: #bf1d86;
    width: 200px;
    height: 100%;
    margin-left: 0;
    position: fixed;
}
.menu{
    position: sticky;
    margin-left: 200px;
}
.botao-pesquisa{
	background-color: #dcd0d052;
    border-radius: 4px;
    border: 0;
  	margin: 11px 15px;
}
.pesquisa{
    border-radius: 8px;
    border: 0;

}
.titulo-produtos{
    color: #bf1d86;
}
.caixa-cinza{
	background-color:#80808012;
    height: 100%;
   width: 85%;
    margin-left: 200px;
    padding: 2%;
}
.sub-titulo {
	color: gray;
}

.tabela-produtos{
    height: 16%;
    width:  100%;
    box-shadow: 3px 10px 27px 0px #bfc5bf;
}

.tabela-produtos tr td{
    background-color: white;
    padding: 1%;
    font-weight: unset;
    color: gray;
}

.tabela-produtos thead{
    background-color:#d2caca45;
    color: gray;
}

.tabela-produtos thead tr th{
    padding: 1%;
    font-weight: unset;
}
.botao-alterar{
    color: white;
    background-color: #bf1d86;
    border: 0;
    width: 51%;
    font-size: 14px;
    border-radius: 7px;
    height: 127%;
}
.botao-alterar:hover{
    background-color:#f3079fb3;
}
.botao-excluir{
    background-color: #bf1d86;
    border: 0;
    border-radius: 3px;

}
.botao-excluir:hover{
    background-color: #f3079fb3;
}