.lateral-rosa{
	background-color: #bf1d86;
    width: 200px;
    height: 100%;
    margin-left: 0;
    position: fixed;
}
.menu{
    position: sticky;
    margin-left: 200px;
}
.botao-pesquisa{
	background-color: #dcd0d052;
    border-radius: 4px;
    border: 0;
  	margin: 11px 15px;
}
.pesquisa{
    border: 0;
    margin-top: 1%;
}
.titulo-produtos{
    color: #bf1d86;
}
.caixa-cinza{
	background-color:#80808012;
    height: 100%;
   width: 85%;
    margin-left: 200px;
    padding: 2%;
}
.sub-titulo {
	color: gray;
}

.tabela-produtos{
    height: 16%;
    width:  100%;
    box-shadow: 3px 10px 27px 0px #bfc5bf;
}

.tabela-produtos tr td{
    background-color: white;
    padding: 1%;
    font-weight: unset;
    color: gray;
}

.tabela-produtos thead{
    background-color:#d2caca45;
    color: gray;
}

.tabela-produtos thead tr th{
    padding: 1%;
    font-weight: unset;
}

.botao-alterar:hover{
    background-color:#f3079fb3;
}

.botao-excluir:hover{
    background-color: #f3079fb3;
}

.botao-pesquisar{
    background-color: white;
    color: gray;
    border: 0;
    font-weight: unset;
    margin-left: 2%;
    margin-top: 1%;
}
.sino{
    float: right;
    margin-top: 15px;
    margin-right: 2%;
    color:gray;
}
.envelope{
    float: right;
    margin-top: 15px;
    margin-right: 5%;
    color:gray;
}
.usuario{
    color: gray;
    float: right;
    margin-top: 1%;
    margin-right: 1%;

}
.imagen-usuario{
    height: 40px;
    float: right;
    border-radius: 30px;
    width: 40px;
}


.botao-alterar, .botao-excluir {
    color: white;
    background-color: #bf1d86;
    border: 0;
    font-size: 11px;
    border-radius: 7px;
    padding: 5px 13px;    
}

.botao-excluir{
    padding: 7px 9px; 
}

button{
    border: 0;
    background-color: transparent;

}